{
  "openapi": "3.1.0",
  "info": {
    "title": "Cybercon Solutions Public API",
    "version": "1.0.0",
    "description": "Public HTTP endpoints for the Cybercon Solutions website.",
    "contact": {
      "name": "Cybercon Solutions",
      "email": "info@cybercon-solutions.com",
      "url": "https://cybercon-solutions.com"
    }
  },
  "servers": [
    {
      "url": "https://cybercon-solutions.com"
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Health check",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "service": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/assessment": {
      "post": {
        "summary": "Submit free assessment request",
        "operationId": "postAssessment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "company", "email"],
                "properties": {
                  "name": { "type": "string" },
                  "company": { "type": "string" },
                  "email": { "type": "string", "format": "email" },
                  "locale": { "type": "string", "enum": ["en", "es"] },
                  "turnstileToken": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Accepted" },
          "400": { "description": "Validation or Turnstile failure" }
        }
      }
    },
    "/api/contact": {
      "post": {
        "summary": "Submit contact form message",
        "operationId": "postContact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "email", "message"],
                "properties": {
                  "name": { "type": "string" },
                  "company": { "type": "string" },
                  "email": { "type": "string", "format": "email" },
                  "message": { "type": "string" },
                  "locale": { "type": "string", "enum": ["en", "es"] },
                  "turnstileToken": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Accepted" },
          "400": { "description": "Validation or Turnstile failure" }
        }
      }
    },
    "/api/site-check": {
      "post": {
        "summary": "Run a lite website health check",
        "operationId": "postSiteCheck",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": { "type": "string", "description": "Hostname to scan (protocol/www stripped)" },
                  "sample": { "type": "boolean", "description": "Return illustrative sample report" },
                  "locale": { "type": "string", "enum": ["en", "es"] },
                  "turnstileToken": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Scan result (grade A–F, categories, finding, tech chips)" },
          "400": { "description": "Validation or Turnstile failure" },
          "429": { "description": "Visitor or global daily scan cap reached" },
          "502": { "description": "Upstream webhook failure" }
        }
      }
    }
  }
}
